* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto;
}

.gen-margin {
  margin: 0 auto;
  width: 87.2%;
}

.gen-padding {
  padding: 12rem 0;
}

.primary-font {
  font-family: "Crete Round", serif;
  font-weight: 400;
  letter-spacing: 0.37px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* ========== Header start ============ */

.section-header {
  background-color: #3c3a39;
  padding: 1.2rem 0;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.menu-mobile-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}

.menu-mobile {
  display: block;
  width: 100%;
  height: 90vh;
  background-color: #3c3a39;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.4rem;
}

.menu-mobile a {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff5e1;
  padding: 1.2rem;
  border-bottom: solid 1px #6f6c6b;
  margin-top: 1.2rem;
}

.menu-mobile li:last-child {
  display: none;
}

.headline-container {
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.section-headline {
  background: #1c1a19 url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
  height: 95vh;
}

.headline-primary {
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: #ff6b00;
}

.headline-support {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fff5e1;
}

.headline-description {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
  color: #fff;
}

.social-box {
  justify-content: flex-start;
  gap: 2.4rem;
  padding: 1.8rem;
}

/* =========== Header end =========== */

.work-container {
  gap: 2.4rem;
}

.work-header-box {
  grid-column: 1/-1;
}

.work-header {
  font-size: 4rem;
  columns: #1c1a19;
  padding-bottom: 3.2rem;
}

.line {
  border: 0.2px solid black;
}

.multi-post-card {
  grid-column: 1/-1;
  margin-top: 5.6rem;
  flex-direction: column;
  gap: 2.4rem;
}

.card-img-box {
  width: 100%;
}

.card-img-box img {
  width: 100%;
}

.card-text-box {
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  flex-basis: 0;
  flex-grow: 1;
}

.multi-post-primary {
  font-size: 3.2rem;
}

.multi-post-description {
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #091e42;
}

.tags-box {
  gap: 1.2rem;
  margin: 1.2rem 0;
}

.tags-box a {
  box-sizing: unset;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #091e42;
  height: 40px;
  width: 55px;
  padding: 10px 12px 10px 12px;
  border: 1px solid #8993a4;
}

.action-btn {
  padding: 1.2rem;
  background-color: #ff6b00;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 1.2rem;
  transition: 0.4s;
}

.action-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.action-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.card {
  flex-direction: column;
  height: 38rem;
  background-image: url("img/card2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.2rem;
  background: linear-gradient(
    180.45deg,
    rgba(38, 38, 38, 0) 0.75%,
    rgba(38, 38, 38, 0.9) 61.94%
  );
  transition: 0.4s;
}

.card-primary {
  margin: auto;
  margin-top: 7.2rem;
  font-size: 3.2rem;
  color: #fff;
  width: 87.2%;
}

.card-description {
  margin: auto;
  width: 87.2%;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.card .tags-box {
  margin: 1.2rem auto;
  width: 87.2%;
  margin-bottom: 2.4rem;
}

.card .tags-box a {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.card-desktop-content {
  display: none;
}

/* =========== Work section end ================ */

/* =========== About section start =============== */

.section-about-me {
  background: #1c1a19 url(img/illustration2.png);
  background-repeat: no-repeat;
  background-position: 100% 34rem;
  color: #f4f5f7;
  padding-bottom: 8.8rem;
}

.about-me-container {
  grid-template-columns: 1fr;
}

.about-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
}

.about-me-summary-box {
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  border-bottom: 1px #fff solid;
  padding-bottom: 20rem;
}

.about-me-primary {
  font-size: 7.2rem;
  color: #ff6b00;
  line-height: 8.8rem;
  letter-spacing: 0.37px;
}

.about-me-description {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.skills-box {
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 13.6rem;
  align-items: center;
}

.skill-group {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.skills-title-box {
  gap: 1.2rem;
  align-items: center;
  padding-right: 3.6rem;
}

.skills-title-box h4 {
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.skill-item {
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
}

/* ============= contact form start ============= */

.section-contact-form {
  padding: 7rem 0;
  border-bottom: 1px solid #dfe1e6;
}

.contact-form-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-form-primary {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #172b4d;
  font-size: 3.2rem;
  line-height: 44px;
}

.contact-form {
  padding-top: 6rem;
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 1.2rem;
  margin-top: 2.4rem;
}

.form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: #979493;
}

textarea.form-input {
  background-color: #fbf8f7;
  height: 11.4rem;
}

textarea.form-input::placeholder {
  font-style: italic;
}

.submit-btn {
  border: none;
}

/* ========== Footer start =========== */

.footer {
  flex-direction: column;
  align-items: center;
}

.footer .social-box {
  text-align: center;
  justify-content: center;
}

.footer .social-box .icon {
  fill: #505f79;
}

.bottom-line {
  padding: 2.5px;
  background-color: #0d151e;
  display: block;
  margin: 1.2rem auto;
  border-radius: 1000px;
  width: 13.4rem;
}

/* =========================== */

/* ===== End of mobile======== */

/* =========================== */

@media screen and (min-width: 768px) {
  .gen-margin {
    width: 80%;
  }

  .menu-box {
    display: none;
  }

  .menu {
    display: flex;
    gap: 3.2rem;
  }

  .menu a {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }

  .section-headline {
    background-image: url(img/deskIllistration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
  }

  .headline-container {
    flex-direction: row-reverse;
    align-items: center;
  }

  .headline-container .social-box {
    flex-direction: column;
    margin-left: -10rem;
    margin-right: 5rem;
  }

  .headline-container .social-box img {
    width: 1.7rem;
  }

  .headline-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline-text-box {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .work-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .work-header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .work-header {
    flex-shrink: 0;
    padding: 0;
  }

  .line {
    flex-grow: 1;
  }

  .multi-post-card {
    flex-direction: row;
  }

  .card {
    overflow: hidden;
  }

  .card-img-box {
    width: 60%;
  }

  .card__1 {
    background-image: url(img/card4.svg);
  }

  .card__2 {
    background-image: url(img/card2.svg);
  }

  .card__3 {
    background-image: url(img/card3.svg);
  }

  .card__4 {
    background-image: url(img/card4.svg);
  }

  .card__5 {
    background-image: url(img/card5.svg);
  }

  .card__6 {
    background-image: url(img/card6.svg);
  }

  .card .action-btn {
    margin-bottom: -6.8rem;
  }

  .card-mobile-content {
    display: none;
  }

  .card-desktop-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .card:hover .card-container {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }

  .card:hover *:not(:last-child) {
    opacity: 0;
  }

  .card:hover .action-btn {
    margin-bottom: 0;
    opacity: 1;
  }

  .section-about-me {
    background-image: url(img/deskIllistration2.png);
    background-repeat: no-repeat;
    background-size: 55rem;
    background-position: 100% 12rem;
  }

  .about-me-summary-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
  }

  .skills-box {
    flex-direction: row;
    justify-content: space-between;
  }

  .skill-group {
    align-items: flex-start;
  }

  .contact-form-container {
    flex-direction: row;
    gap: 4rem;
  }

  .contact-form-container form {
    text-align: start;
  }

  .contact-form-primary {
    width: 45rem;
    text-align: start;
    font-size: 4rem;
    flex-shrink: 0;
  }

  .bottom-line {
    display: none;
  }
}
